body {
    background-color: rgb(204, 243, 247);
  }
  h1 {
    color: rgb(42, 46, 47);
  }
  p {
    color: rgb(23, 103, 100);
  }
  h2 {
    color:rgb(26, 29, 28)
  }
 hr {
    border-color: darkslategray;
 }
 h3 {
    color:rgb(32, 64, 64)
 }

 li {
    color: rgb(37, 85, 69) }
  
    img {
      border-radius: 25%;
    }
 
    #polar-bear-2{
      width: 30%;
    }
    h1 {
      font-family: "Times New Roman", Times, serif;
    }
    
    p {
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }
    
    h2 {
      font-family: "Lucida Console", "Courier New", monospace;
    }
    h3 {
      font-family: monospace
    }
